<form method="post" action="{{ path('schedule_delete', {'id': schedule.id}) }}" onsubmit="return confirm('Desea eliminar el registro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ schedule.id) }}">
    <button class="btn bg-metallic-seaweed text-white mb-2">Eliminar</button>
</form>
