{% extends 'base.html.twig' %}

{% block title %}New Schedule{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Nuevo</h1>
            
            {{ include('schedule/_form.html.twig') }}

            <a href="{{ path('schedule_index') }}" class="btn bg-metallic-seaweed text-white mb-2">Regresar</a>
        </div>
    </div>
</div>
{% endblock %}
